body {
    background-color: rgb(222, 222, 222);
}

header {
    background-color: rgb(127, 127, 127);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 1;
}

.body {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 120px;
    right: 120px;
    z-index: 0;
      
}

footer {
    background-color: rgb(56, 56, 56);
    position: absolute;
    bottom: 0;
    left: 120px;
    right: 120px;
    height: 120px;  
    z-index: 1; 
}